<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="navbar-brand" [routerLink]="['/#']">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    New Page
  </div>
  <a class="navbar-brand pull-right" [routerLink]="['/page-list']">
    <span class="glyphicon glyphicon-ok text-dark"></span>
  </a>
</nav>
<div class="container-fluid cl-body-padding">
  <form>
    <div class="form-group">
      <label for="page-name">Name</label>
      <input type="text" class="form-control" id="page-name" placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="page-title">Title</label>
      <input type="text" class="form-control" id="page-title" placeholder="Page Title">
    </div>
  </form>
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a class="navbar-brand pull-right" [routerLink]="['/profile']">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>