<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="navbar-brand" [routerLink]="['/website-list']">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Pages
  </div>
  <a class="navbar-brand pull-right" [routerLink]="['/page-new']">
    <span class="glyphicon glyphicon-plus text-dark"></span>
  </a>
</nav>
<div class="container-fluid cl-body-padding">

  <div class="row extra-padding" *ngFor="let page of pages">
    <a class="extra-left-padding" [routerLink]="['/widget-list']">{{page.name}}</a>
    <a class="pull-right" [routerLink]="['/page-edit']">
      <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
    </a>
  </div>

  <!-- <div class="row extra-padding">
    <a class="extra-left-padding" [routerLink]="['/widget-list']">Blog Post</a>
    <a class="pull-right" [routerLink]="['/page-edit']">
      <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
    </a>
  </div>
  <div class="row extra-padding">
    <a class="extra-left-padding" [routerLink]="['/widget-list']">Blogs</a>
    <a class="pull-right" [routerLink]="['/page-edit']">
      <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
    </a>
  </div>
  <div class="row extra-padding">
    <a class="extra-left-padding" [routerLink]="['/widget-list']">Home</a>
    <a class="pull-right" [routerLink]="['/page-edit']">
      <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
    </a>
  </div>
  <div class="row extra-padding">
    <a class="extra-left-padding" [routerLink]="['/widget-list']">About</a>
    <a class="pull-right" [routerLink]="['/page-edit']">
      <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
    </a>
  </div>
  <div class="row extra-padding">
    <a class="extra-left-padding" [routerLink]="['/widget-list']">Contact Us</a>
    <a class="pull-right" [routerLink]="['/page-edit']">
      <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
    </a>
  </div> -->
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a class="navbar-brand pull-right" [routerLink]="['/profile']">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>