<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="navbar-brand" [routerLink]="['/#']">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widget Edit
  </div>
  <a class="navbar-brand pull-right" [routerLink]="['/widget-list']">
    <span class="glyphicon glyphicon-ok text-dark"></span>
  </a>
</nav>
<div class="container-fluid cl-body-padding">
  <form>
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input type="text" class="form-control" id="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input [(ngModel)]="url" type="text" class="form-control" id="youtube-URL" placeholder="YouTube URL" value="https://www.youtube.com">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [(ngModel)]="width" type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
  </form>
  <a [routerLink]="['/#']" class="btn btn-block btn-danger">Delete</a>
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-secondary">
  <a class="navbar-brand pull-right" [routerLink]="['/profile']">
    <span class="glyphicon glyphicon-user text-primary"></span>
  </a>
</nav>